---
layout: detail.liquid
title: Sagara Brand Identity Concept
description: A short study case of a new Brand Identity concept for Sagara.
namespace: detail
class: sagara
time: 43

icon: logo/sagara, 196, 69, 196 69
iconLabel: Sagara's Logo
qr: sagara
year: 2023
type: Brand Identity Concept

date: 2023-10-29
---

<section id="more" class="middle style-background--parallax snap">
  <div class="text">
    <small>When creating a new concept, I tend to take inspiration from nature. Photo by:
      <a href="https://www.pexels.com/photo/a-wave-breaking-at-sunset-with-the-sun-behind-it-28348904/">Kammeran Gonzalez-Keola</a>.</small>
  </div>
  <div class="thumbs">
    <picture>
      <source media="(min-width: 1024px) and (min-device-pixel-ratio: 2)" srcset="/img/sagara/background@2x.webp 2x, /sagara/background@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/sagara/background.webp"
        width=""
        height=""
        alt="Sunrise and Wave - Photo by Kammeran Gonzalez-Keola" />
    </picture>
  </div>
  <div class="logos">
    <img
      src="/img/sagara/wave.svg"
      width="160"
      height="160"
      alt="Sagara's logo, resamble of wave with 3 circular lines" />
  </div>
</section>

<hr/>

<section class="middle style-center--condensed snap">
  <div class="text anim">
    <div class="titles">
      <h4>Sagara</h4>
      <h1>Brand Identity Concept</h1>
    </div>
    <p>As a dynamic IT consulting firm, Sagara has undergone numerous transformations throughout its history. This year, significant changes are imminent, necessitating a rebranding strategy to reflect their evolving identity.</p>
  </div>
  <div class="logos">
    <ul class="flat grid">
      {% for i in (1..10) %}
        <li><img
            src="/img/sagara/logo-{{ i }}.svg"
            width="202"
            height="128"
            alt="Sagara's logo evalution number {{ i }}" /></li>
        {% if i == 9 %}
          <li class="text">
            <h4>The Meaning</h4>
            <small>In Javanese, Sagara means Ocean. Conceptualized using wave as the main logo identity, aiming for a simple yet distinctive logo iconography.</small>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>

<hr/>

<section class="middle style-top--left snap">
  <div class="text">
    <h3>Sagara’s<br/>New Identity</h3>
    <p>When creating a new concept, I tend to take inspiration from nature.</p>
  </div>

  <div class="style-column">
    <div class="style-row">
      <div class="meta">
        <img
          loading="lazy"
          src="/img/sagara/logo-colorful.svg"
          width="161"
          height="57"
          alt="Sagara's Logo" />
      </div>
      <div class="text">
        <small>To finalize the logo, colors and a gradient representing sunlight and sea colors were added. A tail was suggested to add uniqueness to the middle wave.</small>
      </div>
    </div>
    <div class="style-row">
      <div class="meta color">
        <ul class="flat color">
          <li style="background: #004BD0"></li>
          <li style="background: #0057F2"></li>
          <li style="background: #0096E1"></li>
          <li style="background: #2FFF86"></li>
          <li style="background: #FCE300"></li>
          <li></li>
        </ul>
      </div>
      <div class="text">
        <small>The dominant colors are various shades of blue, symbolizing the ocean and sky, while vibrant colors convey freshness and vitality.</small>
      </div>
    </div>
    <div class="style-row">
      <div class="meta">
        <img
          loading="lazy"
          src="/img/sagara/the-wave.svg"
          width="32"
          height="15"
          alt="The Wave" />
      </div>
      <div class="text">
        <small>The wave, a simple yet effective graphic element, provides brand continuity and animates to mimic real wave movement.</small>
      </div>
    </div>
  </div>
</section>

<hr/>

<section class="middle style-top--static gray-background snap">
  <div class="thumbs">
    <picture>
      <source media="(min-width: 1024px) and (min-device-pixel-ratio: 2)" srcset="/img/sagara/tote@2x.webp 2x, /img/sagara/tote@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/sagara/tote.webp"
        height="330"
        alt="3 Sagara's Tote bags design - by Dwan" />
    </picture>
  </div>

  <div class="text">
    <h3>Some Implementation</h3>
    <p>The various implementation of the brand identity provide a fun yet very fresh look if Sagara.</p>
  </div>
</section>

<hr/>

<section class="middle style-top--static-auto snap">
  <div class="text">
    <h3>Adaptiveness</h3>
    <small>Adaptiveness is a core concept of the redesign, inspiring me to create a logo with multi-language support.</small>
  </div>

  <div class="logos">
    <ul class="flat grid">
      {% for i in (1..8) %}
        <li>
          <img
            src="/img/sagara/logo-text-{{ i }}.svg"
            width="178"
            height="59"
            alt="Sagara's logo in other language {{ i }}" />
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="text">
    <small>The various implementation of the brand identity provide a fun yet very fresh look if Sagara.</small>
  </div>
</section>

<hr/>

<section class="middle style-angled--auto clip snap">
  <div class="content">
    <div class="text">
      <h2>Aiming for Simplicity</h2>
      <p>When it comes to website redesign, my idea is to aim for simplicity focusing on the value of the brand.</p>
    </div>
    <ol class="zero">
      <li>Focusing on the content, but also providing easy to digest information.</li>
      <li>Stripping all unnecessary design element that doesn’t provide joy.</li>
      <li>Create supporting graphics give distinctive value to the content.</li>
    </ol>
  </div>
  <div class="thumbs">
    <picture class="pic-1">
      <source media="(min-width: 1024px)" srcset="/img/sagara/homepage@2x.webp 2x, /img/sagara/homepage@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/sagara/homepage.webp"
        height="330"
        alt="Sagara Website Redesign - Homepage - by Dwan" />
    </picture>
    <picture class="pic-2">
      <source media="(min-width: 1024px)" srcset="/img/sagara/mobile@2x.webp 2x, /img/sagara/mobile@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/sagara/mobile.webp"
        height="330"
        alt="Sagara Website Redesign - Mobile App Solution - by Dwan" />
    </picture>
    <picture class="pic-3">
      <source media="(min-width: 1024px)" srcset="/img/sagara/jadi@2x.webp 2x, /img/sagara/jadi@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/sagara/jadi.webp"
        height="330"
        alt="Sagara Website Redesign - Jadi App - by Dwan" />
    </picture>
    <picture class="pic-3">
      <source media="(min-width: 1024px)" srcset="/img/sagara/jadi@2x.webp 2x, /img/sagara/redesign@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/sagara/redesign.webp"
        height="330"
        alt="Sagara Website Redesign - Redesign Solution - by Dwan" />
    </picture>
  </div>
</section>

<hr/>

<section class="middle style-top--static-auto-height colored snap">
  <div class="text">
    <h2>Supporting Content</h2>
    <p>I designed hundreds of custom icons for the new website, enhancing its uniqueness and aligning with the brand identity.</p>
  </div>
  <div class="logos">
    <ul class="flat grid">
      {% for i in (2..36) %}
        <li>
          <img
            src="/img/sagara/icons-{{ i }}.svg"
            width="96"
            height="96"
            alt="Sagara's icon number {{ i }}" />
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<hr/>
<section class="middle style-top--static-auto-height">
  <div class="text">
    <h2>Reimagining Interface</h2>
    <p>While creating content for the website, I initiate more than 30+ new interface design to reimagine how Sagara’s products and services in the new look.</p>
  </div>
  <div class="ss">
    <ul class="flat grid">
      {% for i in (1..12) %}
        <li>
          <img
            src="/img/sagara/ss-{{ i }}.webp"
            width="320"
            height=""
            alt="Sagara's apps screenshot {{ i }}" />
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<hr/>

<div class="links snap-end">
  <nav>
    <div class="prototype group">
      <a
        href="https://sagara.dwaan.com"
        target="_BLANK"
        class="title">
        <span>visit the prototype</span>
      </a>
      <a href="https://sagara.dwaan.com" target="_BLANK">
        <span>website</span>
      </a>
    </div>
    <div class="continue">
      <a href="/asosiasi-antropologi-indonesia" class="title">
        <span>next case study</span>
      </a>
      <a href="/asosiasi-antropologi-indonesia">
        <span>
          <i>Asosiasi Antropologi Indonesia</i>
        </span>
      </a>
    </div>
  </nav>
</div>