---
layout: detail.liquid
title: RePlurk
description: Unofficial Plurk Year End Recap for
namespace: detail
class: replurk
time: 32

iconTitle: RePlurk
qr: replurk
year: 2021
type: Weekend Project

date: 2021-10-29
---
{% assign now = 'now' | date: '%Y' | minus: 0 %}

<section id="more" class="middle style-plain clip">
    <div class="text">
        <div class="titles">
            <h4>Weekend Project</h4>
            <h1>
                Waterpark is
                <strong>RePlurk</strong>
                🤷‍♂️
            </h1>
        </div>
        <p>
            RePlurk is a web app that I created to review my plurk account in graphical and interesting way. You can also use
            it if you have plurk account. Long story short it's a Dashboard.
        </p>
        <p>
            <a href="/replurk/?year={{ now }}" class="cta">Visit RePlurk {{ now }}</a>
        </p>
    </div>
</section>

<hr>
<section id="i-bet-you-are" class="middle style-background style-background-basic style-background-left clip">
    <div class="text">
        <div class="titles">
            <h4>I bet you're wondering</h4>
            <h2>What is Plurk? 👀</h2>
        </div>
        <p>A very long time ago, when human started creating web 2.0, there were several social media born at that time. Plurk is one of them.</p>
        <p>Plurk have all the fun of timeline based update and emoticons and responses long before other social media did that. But it didn't reach mass addoption like other, but instead it grew into a niche.</p>
        <p><a href="https://www.plurk.com/dwan/" target="_BLANK">Visit My Plurk Profile</a></p>
    </div>
    <div class="thumbs">
        <img loading="lazy" src="/img/replurk/replurk-14.webp" width="" height="" style="width: 100%" alt="RePlurk - Page 14 - by Dwan">
    </div>
</section>

<hr>

<section class="middle style-spread--big clip">
    <div class="text">
        <div class="titles">
            <h4>Just like a cat</h4>
            <h2>Hand Coded From <strong>Scratch</strong> 🐈</h2>
        </div>
        <p>Just like a cat who like to scratch, I created this web app using pure JavaScript code. I use no framework and also with minimum overhead library. Same like this website actually. With that, the web app should run fast.</p>
    </div>
    <div class="thumbs">
        {% for i in (1..1) %}
        <picture class="pic-{{ i }} top">
            <img loading="lazy" src="/img/replurk/replurk-{{ i }}.webp" width="" height="" style="width: 100%" alt="RePlurk - Page {{ i }} - by Dwan">
        </picture>
        {% endfor %}
    </div>
</section>

<hr>

<section class="middle style-top snap-start">
    <div class="text">
        <div class="titles">
            <h4>Design Concept</h4>
            <h2>Controlled Randomness 🎰</h2>
        </div>
        <p>A wise man (me) said that universes were created randomly, but it was a controlled randomness. Therefore the colors of each blocks of this web app were randomly choosen, but the randomness were controlled to prevent unreadable text.</p>
    </div>
    <div class="thumbs">
        {% for i in (8..13) %}
        <picture class="pic-{{ i }}">
            <img loading="lazy" src="/img/replurk/replurk-{{ i }}.webp" width="" height="250" alt="RePlurk - Controlled Randomness - {{ i | minus: 7 }} - by Dwan">
        </picture>
        {% endfor %}
    </div>
</section>

<hr>

<section class="middle style-single-image snap-start">
    <div class="text">
        <div class="titles">
            <h4>Well, It's Not Actually</h4>
            <h2>A Weekend Project 👷</h2>
        </div>
        <p>I dedicated my free time to create this app. This is a labour of love from me to the Plurk community that have been with me over the past {{ now | minus: 2008 }} years. Enjoy the screenshoot of my Plurk statistics if you didn't have plurk account.</p>
    </div>
    <div class="thumbs">
        <picture class="pic-15 top">
            <img loading="lazy" src="/img/replurk/replurk-15.webp" width="" height="" style="width: 100%" alt="RePlurk - All Block - by Dwan">
        </picture>
    </div>
</section>

<hr>

<section class="middle style-single-image style-reveal clip">
    <h2 class="hidden">Thank You</h2>
    <div class="thumbs">
        <picture class="pic-3">
            <img loading="lazy" src="/img/replurk/replurk-3.webp" width="" height="" style="width: 100%" alt="RePlurk - Page Thank You - by Dwan">
        </picture>
    </div>
</section>

<hr>

<div class="links">
    <nav>
        <div class="prototype">
            <a href="/replurk/?year={{ now }}" aria-label="RePlurk {{ now }} - Web App" target="_BLANK" class="title">
                <span>visit the web app</span>
            </a>
            {% for i in (2020..now) %}
            <a href="/replurk/?year={{ i }}" aria-label="RePlurk {{ i }} - Web App" target="_BLANK">
                <span>{{ i }}</span>
            </a>
            {% endfor %}
        </div>
        <div class="continue">
            <a href="/musiku/" class="title">
                <span>next case study</span>
            </a>
            <a href="/musiku/">
                <span>
                    <i>Musiku</i>
                </span>
            </a>
        </div>
    </nav>
</div>
