---
layout: detail.liquid
title: Tiket Apa Saja - Melon Indonesia
description: A short study case of Tiket Apa Saja website redesign.
namespace: detail
class: tas
time: 49

icon: logo/tiketapasaja, 489, 55, 489 55
iconLabel: Tiket Apa Saja's Logo
qr: tas
year: 2019
type: Design Solutions

date: 2019-10-29
---

<section id="more" class="middle style-spread--left snap">
  <div class="text">
    <div class="titles">
      <h4>Concept and Design</h4>
      <h1>Tiket Apa Saja</h1>
    </div>
    <p>Tiket Apa Saja wanted to redesign their website, after recently got acquired by Melon, a subsidionary company of Telkom Indonesia. They wanted to reflect the changes into their core business.</p>
  </div>
  <div class="thumbs">
    <picture class="horizontal">
      <source media="(min-width: 1024px)" srcset="/img/tas/hero@2x.webp 2x, /img/tas/hero@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/tas/hero.webp"
        height="250"
        alt="Tiket Apa Saja - Dekstop- Homepage" />
    </picture>
    <picture class="vertical">
      <source media="(min-width: 1024px)" srcset="/img/tas/mobile-final-1@2x.webp 2x, /img/tas/mobile-final-1@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/tas/mobile-final-1.webp"
        height="250"
        alt="Tiket Apa Saja - Mobile - Homepage" />
    </picture>
    <picture class="vertical">
      <source media="(min-width: 1024px)" srcset="/img/tas/mobile-final-2@2x.webp 2x, /img/tas/mobile-final-2@3x.webp 3x">
      <img
        loading="lazy"
        src="/img/tas/mobile-final-2.webp"
        height="250"
        alt="Tiket Apa Saja - Mobile - Listing" />
    </picture>
  </div>
</section>

<hr/>

<section class="middle auto style-top--text snap">
  <div class="text">
    <h2>First Challenges</h2>
    <ol class="zero">
      <li>Based on observation upon their old and new logo, both felt too complex, but the old logo looks more distinctive.</li>
      <li>Suggested a new redesign based on the idea that they need to get back to their old simplified logo.</li>
    </ol>
  </div>
</section>

<hr/>

<section class="middle auto style-bottom-logo forcebright snap">
  <div class="text">
    <h3>The Solution</h3>
    <p>The old and new logo contain too manu information and it purely business decision. Simplification of their logo into something more memorable, fun, and with less distraction.</p>
  </div>

  <noscript class="hidden">
    <h4>Evolution of Tiket Apa Saja's Logo</h4>
  </noscript>
  <div class="thumbs">
    <ul class="flat">
      <li>
        <picture>
          <source media="(min-width: 1024px)" srcset="/img/tas/oldlogo@2x.webp 2x, /img/tas/oldlogo@3x.webp 3x">
          <img
            loading="lazy"
            src="/img/tas/oldlogo.webp"
            height="100"
            alt="Tiket Apa Saja" />
        </picture>
      </li>
      <li>
        <picture>
          <source media="(min-width: 1024px)" srcset="/img/tas/newlogo@2x.webp 2x, /img/tas/newlogo@3x.webp 3x">
          <img
            loading="lazy"
            src="/img/tas/newlogo.webp"
            height="100"
            alt="Tiket Apa Saja" />
        </picture>
      </li>
      <li>
        <picture>
          <source media="(min-width: 1024px)" srcset="/img/tas/pitching-mobile@2x.webp 2x, /img/tas/pitching-mobile@3x.webp 3x">
          <img
            loading="lazy"
            src="/img/tas/pitching-mobile.webp"
            height="200"
            alt="Tiket Apa Saja" />
        </picture>
      </li>
    </ul>
  </div>
</section>

<hr/>

<section class="middle style-slideshow snap">
  <noscript class="hidden">
    <h4>Initial Design</h4>
  </noscript>
  <div class="thumbs">
    <ol class="flat">
      {% for i in (1..3) %}
        <li>
          <picture class="pic-{{ i }}">
            <source media="(min-width: 1024px)" srcset="/img/tas/desktop-{{ i }}@2x.webp 2x, /img/tas/desktop-{{ i }}@3x.webp 3x">
            <img
              loading="lazy"
              src="/img/tas/desktop-{{ i }}.webp"
              height="150"
              alt="Tiket Apa Saja - Proposed Desktop Website - Page {{ i }}" />
          </picture>
        </li>
      {% endfor %}
    </ol>
  </div>
</section>

<hr/>

<section class="middle style-trunc snap">
  <div class="wrap">
    <div class="text">
      <h3>The New New Logo</h3>
      <p>They agree that they need to simplified their logo resulting simplier logo. So the new the final design will reflect with the new logo and color scheme.</p>
    </div>
    <div class="meta color" hidden>
      <ul class="flat">
        <li style="background: #EE2F26"></li>
        <li style="background: #fff"></li>
        <li style="background: #000"></li>
        <li>Primary</li>
      </ul>
    </div>
  </div>
</section>

<hr/>

<section class="middle style-slideshow snap">
  <noscript class="hidden">
    <h4>Desktop Website</h4>
  </noscript>
  <div class="thumbs">
    <ol class="flat">
      {% for i in (1..6) %}
        <li>
          <picture class="pic-{{ i }}">
            <source media="(-webkit-mi(min-width: 1024px)" srcset="/img/tas/desktop-final-{{ i }}@2x.webp 2x, /img/tas/desktop-final-{{ i }}@3x.webp 3x">
            <img
              loading="lazy"
              src="/img/tas/desktop-final-{{ i }}.webp"
              height="150"
              alt="Tiket Apa Saja - Desktop Website - Page {{ i }}" />
          </picture>
        </li>
      {% endfor %}
    </ol>
  </div>
</section>

<hr/>

<section class="middle style-slideshow--small snap-bottom">
  <noscript class="hidden">
    <h4>Mobile Website</h4>
  </noscript>
  <div class="thumbs">
    <ol class="flat">
      {% for i in (1..6) %}
        <li>
          <picture class="pic-{{ i }}">
            <source media="min-width: 1024px)" srcset="/img/tas/mobile-final-{{ i }}@2x.webp 2x, /img/tas/mobile-final-{{ i }}@3x.webp 3x">
            <img
              loading="lazy"
              src="/img/tas/mobile-final-{{ i }}.webp"
              height="250"
              alt="Tiket Apa Saja - Mobile Website - Page {{ i }}" />
          </picture>
        </li>
      {% endfor %}
    </ol>
  </div>
</section>

<hr/>

<div class="links snap-bottom">
  <nav>
    <div class="prototype group">
      <a
        href="https://www.figma.com/proto/JF0wooqckRiEK1CvQxAxrO/Tiket-Apa-Saja-v.2.2?node-id=138%3A786&viewport=136%2C2470%2C0.6&scaling=scale-down&starting-point-node-id=251%3A0"
        target="_BLANK"
        class="title">
        <span>visit the prototype</span>
      </a>
      <a href="https://www.figma.com/proto/JF0wooqckRiEK1CvQxAxrO/Tiket-Apa-Saja-v.2.2?node-id=138%3A786&viewport=136%2C2470%2C0.6&scaling=scale-down&starting-point-node-id=251%3A0" target="_BLANK">
        <span>desktop</span>
      </a>
      <a href="https://www.figma.com/proto/JF0wooqckRiEK1CvQxAxrO/Tiket-Apa-Saja-v.2.2?node-id=3076%3A0&viewport=232%2C40%2C0.64&scaling=scale-down&starting-point-node-id=3076%3A21" target="_BLANK">
        <span>tablet</span>
      </a>
      <a href="https://www.figma.com/proto/JF0wooqckRiEK1CvQxAxrO/Tiket-Apa-Saja-v.2.2?node-id=138%3A8&viewport=382%2C40%2C0.51&scaling=scale-down&starting-point-node-id=138%3A1939" target="_BLANK">
        <span>mobile</span>
      </a>
    </div>
    <div class="continue">
      <a
        href="/suzuki-website-redesign-pitching/"
        aria-label="Suzuki Indonesia Website Redesign Pitching"
        class="title">
        <span>
          <strong>next case study</strong>
        </span>
      </a>
      <a href="/suzuki-website-redesign-pitching/" aria-label="Suzuki Indonesia Website Redesign Pitching">
        <span>
          <i>Suzuki Indonesia Website Redesign Pitching</i>
        </span>
      </a>
    </div>
  </nav>
</div>